* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
html {
    font-family: Arial, Helvetica, sans-serif;
}
#header {
    height: 46.5px;
    background-color: #000000;
}

#nav {

}
#nav li {
    display: inline-block;
}
#nav .subnav {
    display: none;
}
#nav li a {
    display: inline-block;
    color: #ffffff;
    text-decoration: none;
    line-height: 46.5px;
    padding: 0px 24px;
}
#nav li:hover a {
    color: #000000 !important;
    background-color: #ffffff !important;
}
#slide {

}

#content {

}

#footer {

}
