* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
html {
    font-family: Arial, Helvetica, sans-serif;
}

#header {
    height: 46.5px;
    background-color: #000;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
}

#nav {
    position: relative;
    display: inline-block;
}
#nav > li {
    display: inline-block;
}
#nav > li > a{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0px 24px;
    line-height: 46.5px;
    display: block;
}
#header .search-btn {
    float: right;
}
#header .search-btn:hover {
    background-color: #f44336;
    cursor: pointer;
}
#header .search-icon {
    color:#fff;
    line-height: 46.5px;
    padding: 0px 24px;
    font-size: 14px;
}
#nav li:hover .sub {
    display: block;
}
#nav > li:hover > a,
.sub > li:hover {
    color: #000;
    background-color: #ccc;
}
#nav .sub {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
#nav .icon-btn {
} 
#nav .sub li {
    list-style-type: none;
}
#nav .sub li:last-child {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
#nav .sub a {
    display: block;
    text-decoration: none;
    color: #000;
    line-height: 38.5px;
    padding: 0px 16px;
}
#slider {
    min-height: 500px;
    background-color: #333;
    margin-top: 46.5px;

}

#content {
    min-height: 1000px;

}

#footer {

}